@tailwind base;
@tailwind components;
@tailwind utilities;

/************Images***************/
.profile-image {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

/**********Colors************/
body {
  background-color: #f9f7f7;
}

/*************NavBar**************/
.navbar {
  position: fixed;
  width: 100%;
  background-color: #112d4e;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
}

/************Footer**************/
footer {
  background-color: #112d4e;
  color: #fff;
}

/********Line design**********/
h1 {
  display: flex;
  flex-direction: row;
}
h1:before,
h1:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
h1:before {
  margin-right: 10px;
}
h1:after {
  margin-left: 10px;
}

/************card transformation************/
section {
  display: inline-block;
  position: absolute;
  top: 150%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
section .row {
  display: inline-block;
}
.col {
  display: inline-block;
  margin: 20px;
}
.card {
  background-color: transparent;
  width: 400px;
  height: 500px;
  margin: 10px 0;
  transition: ease all 2.3s;
  border: 4px solid #f1f1f1;
  perspective: 1200px;
  display: inline-block;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: ease all 2.3s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: ease all 2.3s;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.card-front {
  font-weight: 600;
  transition: ease all 2.3s;
  font-size: 3em;
  background-color: #bbb;
  color: black;
}
.card-back {
  background-color: #112d4e;
  transition: ease all 2.3s;
  color: white;
  transform: rotateY(180deg);
}
