@tailwind base;
@tailwind components;
@tailwind utilities;

/************Images***************/
.profile-image {
  width: 100%;
  height: 400px;
}
.procedure-image {
  width: 100%;
  height: 400px;
}

/************Footer**************/
footer {
  background-color: #112d4e;
  color: #fff;
}

/********Line design**********/
.linethrough {
  display: flex;
  flex-direction: row;
}
.linethrough:before,
.linethrough:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.linethrough:before {
  margin-right: 10px;
}
.linethrough:after {
  margin-left: 10px;
}

/************card transformation************/
.card {
  transition: ease all 2.3s;
  border: 4px solid #f1f1f1;
  perspective: 1000px;
  display: inline-block;
}
.card-inner {
  position: relative;
  text-align: center;
  transition: ease all 2.3s;
  transform-style: preserve-3d;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.card-front {
  font-weight: 600;
  background-color: #30e7fd;
  color: black;
}
.card-back {
  background-color: #112d4e;
  color: white;
  transform: rotateY(180deg);
}
