@tailwind base;
@tailwind components;
@tailwind utilities;

/***********Navbar***************/
nav {
  z-index: 3;
}

/************Footer**************/
footer {
  background-color: #112d4e;
  color: #fff;
}

/********Line design**********/
.linethrough {
  display: flex;
  flex-direction: row;
}
.linethrough:before,
.linethrough:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.linethrough:before {
  margin-right: 10px;
}
.linethrough:after {
  margin-left: 10px;
}
